@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  color: #03a9f4;
  font-size: 24px;
}

html {
  background-color:  #f3f1f7
}

button {
  width: 90%;
}
